html{
    /* zoom: 0.75; Ajustar zoom se acharmos melhor */
    overflow-x: hidden;
}
body{
    margin-left: 0px; /* Ajustar como for melhor para o geral do site*/
    font-family: verdana;
    margin: 0px;
}
#divBtnEmail{
    text-align: center;
}

/* Codigo do header antigo */
/*-------------------------*/

/*.page-title{
    display: flex;
    align-items: center;
    background-color: #FFE9A4;
    width: 120vw;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.466);

}

.page-title > h1{
    margin: 7vw;
}*/
/*--------------------------*/

.page-title
{
    border: 1px solid rgba(0, 0, 0, 0.466);
    background-color: #ffad49;
    margin: auto;
    padding: 25px;
}

.page-title > h1
{
    margin: auto;
    max-width: 1000px;
}

.content{
    display: flex;
    padding-top: 9vh;
    margin-bottom: 2vh;
}

.car-content{
    display: flex;
    /* padding-left: 7vw; */
    justify-content: center; /* Nao está a dar mas quando/se der pode tirar-se o padding-left */
    order: 1;
    flex-grow: 0.4;
    flex-direction: column;
    align-items: flex-end;
}

.car-aside{
    display: flex;
    order: 2;
    flex-grow: 0.2;
    flex-direction: column;
    margin-left: 50px;
}

#car-title{
    color: #FFAD49;
    font-size: 19px;
    margin: 0px;
}

.car-aside > p, .car-aside > h4{
    margin-top: 1.5vh;
}

#mainImg{
    width: 650px;
    height: 450px;
}

#imgMini1, #imgMini2, #imgMini3, #imgMini4{
    width: 158px;
    height: 112.5px;

}

#txtNomeContact, #txtEmailContact, #txtMsgContact{
    width: 378px; /* Não está dinâmico, é preciso ajustar a todos os dispositivos*/
}

#infoBox{
    margin: 1vh 0 0 0;
    width: 624px; /*Para ajustar com o carrossel */
}

fieldset{
    border: 1px solid rgb(128, 128, 128);
}

#sideCtcBox{
    margin-top: 210.814px; /*36.3vh;*/
}

#sideMsgBox, #sideCtcBox{
    width: 75%;
}

#btnEmail
{
    background-color: #FFAD49;
    font-weight: bold;
    height: 35px;
    border: 2px solid;
    width: 100%;
}
/* Nav e footer*/

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#main-nav li {
    float: left;
    padding: 0px 15px;
    color: #ffffff;
    cursor: pointer;
}

li > a
{
    text-decoration: none;
    color: white;
}

.active
{
    font-weight: bold;
}

#main-nav img
{
    height: 110px;
    vertical-align: middle;
}

.nav-wrapper
{
    display: flex;
    justify-content: space-around;
    background-color: #3a3a3a;
    align-items: center;
    /* max-width: 1300px; */
    margin: auto;
    /*width: 120.2vw;*/
}

footer
{
    padding: 10px;
    background-color: #3a3a3a;
    /*width: 120.2vw;*/
    color: white;
}

footer > p
{
    text-align: center;
}

.search-bar
{
    border: 1px solid black;
    padding: 8px;
    font-size: 15px;
}

.carousel-img
{
    cursor: pointer;
}