.contactos-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    max-width: 1105px;
    margin: auto;
    margin-bottom: 20px;
}

.mapa { grid-area: 1 / 1 / 2 / 2; }
.contactos-list { grid-area: 1 / 2 / 2 / 3; }
.contactos-lower { grid-area: 2 / 1 / 3 / 3; }

.list-grid
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

@media (max-width: 700px) {
    .contactos-grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 15px;
        grid-row-gap: 15px;
    }

    .mapa { grid-area: 1 / 1 / 2 / 2; }
    .contactos-list { grid-area: 2 / 1 / 3 / 2; }
    .contactos-lower { grid-area: 3 / 1 / 4 / 2; }
}

#list-horario { grid-area: 1 / 1 / 2 / 2; }
#list-morada { grid-area: 1 / 2 / 2 / 3; }
#list-telefone { grid-area: 2 / 1 / 3 / 2; }
#list-email { grid-area: 2 / 2 / 3 / 3; }

#sideMsgBox > label
{
    font-weight: bold;
}

#sideMsgBox > input, textarea
{
    font-size: 1em;
    height: 25px;
    margin: 10px 0px;
    border: 1px solid grey;
    width: 500px;
}

#sideMsgBox > textarea
{
    height: 80px;
}

#sideMsgBox > input[type="submit"]
{
    background-color: #FFE9A4;
    font-weight: bold;
    height: 35px;
    border: 2px solid;
}

.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:100%;
    width:100%;
}

#gmap_canvas {
    height:100%;
    width:100%
}

.page-title
{
    border: 1px solid rgba(0, 0, 0, 0.466);
    background-color: #ffad49;
    margin: auto;
    padding: 25px;
}

.page-title > h1
{
    width: 1000px;
    margin: auto;
}
