
html{
    /* zoom: 0.75; Ajustar zoom se acharmos melhor */
}
body{
    margin-left: 0px; /* Ajustar como for melhor para o geral do site*/
    font-family: verdana;
}
.page-title{
    display: flex;
    align-items: center;
    background-color: #FFE9A4;
    width: 100vw;
    height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.466);
}

.page-title > h1{
    margin: 7vw;
}
.content{
    display: flex;
    padding-top: 9vh;
    margin-bottom: 2vh;
}

.car-content{
    display: flex;
    /* padding-left: 7vw; */
    justify-content: center; /* Nao está a dar mas quando/se der pode tirar-se o padding-left */
    order: 1;
    flex-grow: 0.6;
    flex-direction: column;
    align-items: center;
}

.car-aside{
    display: flex;
    order: 2;
    flex-grow: 0.2;
    flex-direction: column;
}

#car-title{
    color: #8BD3E0;
    font-size: 19px;
    margin: 0px;
}

.car-aside > p, .car-aside > h4{
    margin-top: 1.5vh;
}

#imgMercedes{
    width: 650px;
    height: 450px;
}

#imgMini1, #imgMini2, #imgMini3, #imgMini4{
    width: 158px;
    height: 112.5px;

}

#txtNomeContact, #txtEmailContact{
    width: 378px; /* Não está dinâmico, é preciso ajustar à textarea em todos os dispositivos*/
}

#infoBox{
    margin: 1vh 0 0 0;
    width: 624px; /*Para ajustar com o carrossel */
}

#sideMsgBox{
    /* height: 422px; */ 
}

/* Nav e footer*/

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#main-nav li {
    float: left;
    padding: 0px 15px;
    color: #ffffff;
    cursor: pointer;
}

.active
{
    font-weight: bold;
}

#main-nav img
{
    height: 110px;
    vertical-align: middle;
}

.nav-wrapper
{

    display: flex;
    justify-content: space-around;
    background-color: #8BD3E1;
    align-items: center;
    /* max-width: 1300px; */
    margin: auto;
}

footer
{
    padding: 10px;
    background-color: #8BD3E1;
}

footer > p
{
    text-align: center;
}
