body
{
    margin: 0px;
    font-family: Verdana;
}

#wrapper
{
    max-width: 1107px;
    margin: 0 auto;
}

#main-nav
{
    display: flex;
    justify-content: space-around;
    background-color: #8BD3E1;
    align-items: center;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#main-nav li {
    float: left;
    padding: 10px;
    color: #ffffff;
    cursor: pointer;
}

.active
{
    font-weight: bold;
}

#main-nav img
{
    height: 85px;
    vertical-align: middle;
}

#img-slide
{
    width: 100%;
}

.marca
{
    background-color: white;
    border-radius: 30px;
    padding: 12px;
    margin: 8px;
}

.marca img
{
    height: 100px;
    margin: 0 auto;
    display: block;
}

.marca figcaption
{
    text-align: center;
}

#marcas
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section > header > h4
{
    text-align: center;
}

.colored-section
{
    background-color: #8BD3E1;
}
