/* Cores
   ---------------

   AZUL CLARO: #8BD3E0
   AMARELO CLARO: #FFE9A4

   CINZENTO ESCURO: #3A3A3A
   LARANJA: #FFAD49

   ---------------
*/

body
{
    margin: 0px;
    font-family: Verdana;
}

#wrapper
{
  /*  max-width: 1300px; */
    margin: 0 auto;
}

#main-nav
{
    background-color: #3a3a3a;
}

#main-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
}

#main-nav li {
    float: left;
    padding: 0px 15px;
    color: #ffffff;
    cursor: pointer;
}

.active
{
    font-weight: bold;
}

#main-nav img
{
    height: 110px;
    vertical-align: middle;
}

#img-slide
{
    width: 100%;
}

.marca
{
    background-color: white;
    border-radius: 30px;
    padding: 12px;
    margin: 8px;
    width: 105px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: black;
}

.marca img
{
    margin: 0 auto;
    display: block;
    max-width: 105px;
}

.marca figcaption
{
    text-align: center;
    cursor: pointer;
}

#marcas
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section > header > h4
{
    text-align: center;
    text-transform: uppercase;
}

.colored-section
{
    background-color: #3a3a3a;
    padding-top: 1px;
    margin-top: -5px;
    padding-bottom: 30px;
    color: white;
}

.nav-wrapper
{

    display: flex;
    justify-content: space-around;
    background-color: #3a3a3a;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

footer
{
    padding: 10px;
    background-color: #3a3a3a;
    color: white;
}

footer > p
{
    text-align: center;
}

.search-bar
{
    border: 1px solid black;
    padding: 8px;
    font-size: 15px;
}

.carro-destaque
{
    width: 200px;
    border: 1px solid #ccc;
    margin: 10px;
}

.carro-destaque > img
{
    width: 200px;
}

.destaques
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

li > a
{
    text-decoration: none;
    color: white;
}

@media (max-width: 700px)
{
    #slogan
    {
        display: none !important;
    }
}

#slogan
{
    position: absolute;
    top: 250px;
    left: 10%;
    color: #383838;
    background-color: #ffda64d1;
    height: 150px;
    border-radius: 50%;
    text-align: center;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3em;
    font-weight: bold;
    text-overflow: ellipsis;
    width: min-content;
    height: fit-content;
}

.carro-destaque > a
{
    text-decoration: none;
    color: black;
}
